.carouselContainer {
  overflow: hidden;
}

.carouselSlider {
  height: 50%;
  max-height: 100vh;
}

.carouselItem {
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  & > img {
    height: 200px;
    width: 200px;
  }
}

.carouselBtns {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  & > * {
    margin: 0 0.5rem;
  }
}
